*{
    margin: 0;
    padding: 0;
}


body {
    background: url('../img/03.jpg');
}
#fader {
    margin: 0 auto;
    top: 20px;
}
#main {
    margin:60px
    }
    
    
#main1 {
margin:5px
}
#main2 {
margin:30px
}
#main3 {
margin:10px
}
#main4 {
margin:3px
}